@font-face {
    font-family: 'hussarszturm';
    src: url('fonts/hussarszturmoblique-qwxq-webfont.woff2') format('woff2'),
         url('fonts/hussarszturmoblique-qwxq-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #B40614;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: hussarszturm, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 6rem;
    color: aliceblue;

    margin: 5rem 0 2rem 0;

    user-select: none;
}

#sale-line {
    color: aliceblue;
    text-align: center;
    font-size: 2rem;
    margin: 0 0 3rem 0;
}

#home-img {
    height: 40vh;
    width: auto;
    border-radius: 8px;

    user-select: none;
}

#img-credit {
    color: white;
}